/**
 * [Min Width]
 */
@media (min-width: 640px){
	.container {
  		max-width: 580px;
	}
}

@media (min-width: 768px){
	.container {
  		max-width: 720px;
	}
}

@media (min-width: 1024px){
	.container {
  		max-width: 980px;
	}

	.setup-row-block{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		column-gap: 50px;
	}
	.setup-row-block .setup-auth-app-left{
		width: calc(60% - 25px);
	}
	.setup-row-block .setup-auth-app-right{
		width: calc(40% - 25px);
	}
}

@media (min-width: 1280px){
	.page-2fa-title{
		padding: 20px 30px;
		font-size: 26px;
	}

	.container {
 		 max-width: 1180px;
	}
	h3{
		font-size: 24px;
	}
	h2{
		font-size: 34px;
	}
	.login-head .icon svg{
		height: 20px;
	}
	.avater-photo{
		height: 115px;
		width: 115px;
	}
	.btn{
		padding: 14px 25px;
		font-size: 18px;
	}
	.step-block h3{
		font-size: 20px;
	}
}

@media (min-width: 1536px){
	/*.container {
 		 max-width: 1440px;
	}*/
	.two-fa-content{
		padding-top: 4rem;
	}
	.page-2fa-title{
		font-size: 28px;
	}
	.alert .alert-icon{
		width: 50px;
		height: 50px;
	}

	.alert{
		padding: 25px;
		border-radius: 15px;
	}

	.input-code,
	.p-text{
		font-size: 18px;
	}
	.two-fa-content p{
		font-size: 18px;
		margin-bottom: 30px;
	}
	h3{
		font-size: 26px;
	}
	h2{
		font-size: 34px;
	}
	h4{
		font-size: 20px;
	}
	.login-head .icon svg{
		height: 22px;
	}
	.login-container{
		padding-top: 40px;
	}
	.logo{
		display: block;
		width: 155px;
	}
	.signin-text h3{
		font-size: 30px;
	}
	.avater-photo{
		height: 130px;
		width: 130px;
	}
	.btn{
		padding: 16px 25px;
		font-size: 20px;
	}
	.btn.btn-sm{
		font-size: 16px;
		padding: 14px 20px;
	}
	.login-container{
		margin-bottom: 60px;
	}
	.border-title{
		margin-bottom: 50px;
	}
	.step-block h3{
		font-size: 24px;
	}
	.white-box h4{
		font-size: 20px;
		margin-bottom: 25px;
	}
	.white-box ul li{
		font-size: 16px;
	}
	.setup-auth-app-right .button-group{
		column-gap: 25px;
	}
	.text-sm{
		font-size: 16px !important;
	}
	.user-get-item span{
		font-size: 20px;
	}
	.user-get-item .item-icon svg{
		height: 30px;
	}
	.input-code{
		height: 54px;
	}
}

/**
 * [Max Width]
 */
@media (max-width: 1023px){
	.step-head{
		padding-bottom: 20px;
	}
}
@media (max-width: 639px){
	.qr-img{
		max-width: 220px;
	}
	.page-2fa-title{
		padding: 15px;
		font-size: 18px;
	}
	.alert{
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		row-gap: 15px;
		text-align: center;
	}

	.user-information-wrap{
		padding: 15px 0;
	}
	.user-get-item span{
		font-size: 15px;
	}

}

@media (max-width: 480px){
	.qr-img{
		max-width: 180px;
	}

	h3{
		font-size: 18px;
	}
	h4{
		font-size: 16px;
	}

	.btn,
	.input-code,
	.two-fa-content p,
	.p-text{
		font-size: 15px;
		line-height: 1.5;
	}
	.step-block h3{
		font-size: 16px;
	}
}
